

// color variables
$yellow: #F3C25B;
$teal: #83BAB2;
$green: #8B9E74;
$red: #831528;
$grey: #414042;
$navy: #2D2E74;


@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



// background-container
.container {
	background: white;
}


// header styles
header {
	position: relative;
	background: url(../img/bg-header-small.jpg) bottom left no-repeat;
	background-size: cover;
	text-align: center;
	padding: 30px 0 0;

	@include respond-to( 1024px ) {
		background: url(../img/bg-header.jpg) bottom center no-repeat;
		text-align: left;

		.wrap {		
			padding: 100px 0 0 60px;
		}

		&:before {
			content: " ";
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -60%;
			width: 120%;
			height: 70px;
			background: url(../img/bg-caution-tape.jpg) center center repeat-x;
			-ms-transform: rotate( -3deg );
			-webkit-transform: rotate( -3deg );
			transform: rotate( -3deg );
		}
	}
}


// wrap div
.wrap {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}



// padding div that'll resize for larger screens.
.pad {
	padding: 30px 20px;

	@include respond-to( 768px ) { padding: 30px 50px; }
	@include respond-to( 1025px ) { padding: 40px 70px; }
}



// tool styles
.tool {
	padding: 0;
	
	@include respond-to( 768px ) {
		padding: 20px 40px;
	}

	h1 {
		padding: 20px;

		@include respond-to( 768px ) {
			font-size: 32px;
			line-height: 42px;
		}
	}

	.calculator {
		background: black;
		color: white;
		padding: 20px 15px 0;
		margin: 30px 0;
		@include font;

		button, input[type=submit], input[type=image], .btn {
			width: 100%;
			margin: 0 auto;
		}
		
		@include respond-to( 768px ) { 
			padding: 30px 20px 10px; 
			border-radius: 20px;
			font-size: 1.2em;
		}

		@include respond-to( 1024px ) {
			padding: 40px 40px 10px;
		}
	}

	.half.right.first {
		padding: 30px 10px;
		text-align: center;

		@include respond-to( 1024px ) {
			padding: 30px;
		}
	}
}



// results styles
.results {
	display: none;
	text-align: center;
	background: url(../img/bg-results.png) bottom center no-repeat;
	background-size: cover;
	@extend .pad;

	// large title
	h2 {
		@include font;
		color: $navy;
		font-size: 1.8em;

		@include respond-to( 768px ) {
			font-size: 3em;
			padding: 10px 20px;
		}
	}

	h3 {
		@include font;
		font-size: 1.5em;

		@include respond-to( 768px ) {
			font-size: 2em;
			padding: 10px 20px;
		}
	}

	h5 {
		@include font;
		font-size: 1.2em;

		@include respond-to( 768px ) {
			font-size: 1.7em;
			padding: 10px 20px;
		}
	}

	p {
		@include font;
		font-size: 1.5em;
		line-height: 1.5em;

		@include respond-to( 768px ) {
			font-size: 2em;
			padding: 50px 20px 10px;
		}
	}

	.button-apply {
		margin-top: 20px;
	}

	.go-back {
		color: $grey;
	}
}



footer {
	@include respond-to( 768px ) {
		position: relative;
		margin-top: 40px;

		&:before {
			content: " ";
			position: absolute;
			top: -70px;
			left: 50%;
			width: 120%;
			height: 70px;
			margin-left: -60%;
			background: url(../img/footer-border.png) center center repeat-x;
			-ms-transform: rotate( 2deg );
			-webkit-transform: rotate( 2deg );
			transform: rotate( 2deg );
		}
	}

	.half {
		text-align: center;
	}

	h2 {
		font-size: 40px;

		@include respond-to( 768px) {
			line-height: 140px;
			text-align: left;
		}
	}
}



.fine-print {
	font-size: .7em;
	line-height: 1.2em;
	text-align: left;
	padding: 10px;

	img {
		float: right;
		margin: 0 0 10px 10px;
	}
}

