

// color variables
$yellow: #F3C25B;
$teal: #83BAB2;
$green: #8B9E74;
$red: #831528;
$grey: #414042;
$navy: #2D2E74;


@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



// background-container
.container {
	background: white;

	@include respond-to( 1220px ) {
	}
}


// header styles
header {
	position: relative;
	background: url(../img/bg-header.jpg) bottom center no-repeat;
	background-size: cover;

	.wrap {		
		padding: 40px 0;

		@include respond-to( 768px ) {
			padding: 140px 0 120px;
		}
	}

	.car {
		position: absolute;
		right: 0;
		bottom: 20px;
	}
}


// wrap div
.wrap {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}



// padding div that'll resize for larger screens.
.pad {
	padding: 30px 20px;

	@include respond-to( 768px ) { padding: 30px 50px; }
	@include respond-to( 1025px ) { padding: 40px 70px; }
}



// tool styles
.tool {
	padding: 0;
	
	@include respond-to( 768px ) {
		padding: 20px 40px;
	}

	h1 {
		@include respond-to( 768px ) {
			font-size: 32px;
			line-height: 42px;
		}
	}

	.calculator {
		background: $navy;
		color: white;
		padding: 20px 15px 0;
		margin: 30px 0;
		@include font;

		button, input[type=submit], .btn {
			width: 100%;
			margin: 0 auto;
		}
		
		@include respond-to( 768px ) { 
			padding: 30px 20px 10px; 
			border-radius: 20px;
			font-size: 1.2em;
		}

		@include respond-to( 1024px ) {
			padding: 40px 40px 10px;
		}
	}

	.half.right.first {
		padding: 30px 10px;

		@include respond-to( 1024px ) {
			padding: 30px;
		}
	}
}



// results styles
.results {
	display: none;
	text-align: center;
	background: url(../img/bg-results.png) bottom center no-repeat;
	background-size: cover;
	@extend .pad;

	// large title
	h2 {
		@include font;
		color: $navy;
		font-size: 1.8em;

		@include respond-to( 768px ) {
			font-size: 3em;
			padding: 10px 20px;
		}
	}

	h3 {
		@include font;
		font-size: 1.5em;

		@include respond-to( 768px ) {
			font-size: 2em;
			padding: 10px 20px;
		}
	}

	p {
		@include font;
		font-size: 1.5em;
		line-height: 1.5em;

		@include respond-to( 768px ) {
			font-size: 2em;
			padding: 50px 20px 10px;
		}
	}

	.button-apply {
		margin-top: 20px;
	}
}



// footer styles
.footer-bar {
	border-top: 10px solid $grey;
	color: $grey;
	padding: 10px 20px;
	text-align: center;
	position: relative;

	.sixty, .fourty {
		text-align: center;
	}

	.half.separator {
		text-align: center;
		@include respond-to( 768px ) {
			width: 46.5%;
		}
	}

	.half.phone-number {
		padding: 20px 0;

		@include respond-to( 768px ) {
			padding: 40px 0;
		}
	}

	.phone {
		position: absolute;
		bottom: 0;
		left: 0;
		display: none;

		@include respond-to( 768px ) {
			display: block;
		}
	}

	@include respond-to( 768px ) {
		padding: 20px 20px 20px 250px;
	}

	@include respond-to( 1220px ) {
		padding: 20px 20px 20px 120px;
	}
}


.fine-print {
	font-size: .7em;
	line-height: 1.2em;
	text-align: left;
	padding: 10px;
}

